@model Scrumy.Models.MixedVM.SlidesTechMat
@{
    ViewData["Title"] = "ScrumDocEXT";
}
<section class="scrumdoc container-full">
    <div class="container">
        <div class="intro">
            <h3>
                Welcome in Scrum Doc. Here you can master your Scrum skills and learn how to use Scrumy.
            </h3>
        </div>

        <div class="panel-group tut-container" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title tut-header">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Scrumy Tutorial
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="slideshow-container">

                            @{
                                var max = Model.SlideSet.Count();
                            }
                            @foreach (var item in Model.SlideSet)
                            {
                                <div class="mySlides">
                                    <div class="numbertext">@item.Number / @max  </div>
                                    <p class="slide-text">
                                        @item.Content
                                    </p>
                                    @*<div class="slide-options">
                                            @if (User.IsInRole("Scrum Master"))
                                            {
                                                <a asp-controller="Slide" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                <button type="button" class="btn-action" data-toggle="modal" data-target="#EditModal">EditSlide</button>
                                            }
                                        </div>*@
                                    @*<div class="text">Caption Text</div>*@
                                </div>

                            }

                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center">

                            @foreach (var item in Model.SlideSet)
                            {
                                <span class="dot" onclick="currentSlide(@item.Id)"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title tut-header">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Scrum Theory Docs
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">

                        @*@if (User.IsInRole("Scrum Master"))
                            {
                                @*<button type="button" class="btn-action" data-toggle="modal" data-target="#AddMaterialModal">Add Material</button>
                                <a asp-controller="TeachingMaterial" asp-action="Create">Create</a>



                            }*@



                        <div class="row techmat-container">
                            <div class="col-md-6">
                                @foreach (var item in Model.TechMatSet)
                                {
                                    <div class="link-container">
                                        <a href="@item.Link" target="_blank">
                                            @item.Link
                                        </a>
                                    </div>

                                }
                            </div>
                            <div class="col-md-6">
                                @foreach (var item in Model.TechMatSet)
                                {
                                    <div class="note-container">
                                        <p>@item.Note</p>
                                    </div>

                                }
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        @if (User.IsInRole("Scrum Master"))
        {
            <div class="container scrum-master-actions">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <button class="btn-action margin-auto" type="button" data-toggle="modal" data-target="#addTeachingMaterialModal">Add Teaching Material</button>
                        @await Html.PartialAsync("_addTeachingMaterialModal", Model.TeachingMaterial)
                        <button class="btn-action margin-auto" type="button" data-toggle="modal" data-target="#addSlideModal">Add Slide</button>
                        @await Html.PartialAsync("_addSlideModal", Model.Slide)
                    </div>
                    <div class="col-md-6 col-sm-12">
                    </div>
                </div>
            </div>
        }
    </div>
</section>