@model Scrumy.Models.MixedVM.SlidesTechMat
@{
    ViewData["Title"] = "ScrumDocEXT";
}
<section class="scrumdoc container-full">
    <div class="container">
        <div class="intro">
            <h3>
                Welcome in Scrum Doc. Here you can master your Scrum skills and learn how to use Scrumy.
            </h3>
        </div>

        <div class="panel-group tut-container" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title tut-header">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Scrumy Tutorial
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="slideshow-container">

                            @{
                                var max = Model.SlideSet.Count();
                            }
                            @foreach (var item in Model.SlideSet)
                            {
                                <div class="mySlides">
                                    <div class="numbertext">@item.Number / @max  </div>
                                    <p class="slide-text">
                                        @item.Content
                                    </p>
                                    @*<div class="slide-options">
                                            @if (User.IsInRole("Scrum Master"))
                                            {
                                                <a asp-controller="Slide" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                                <button type="button" class="btn-action" data-toggle="modal" data-target="#EditModal">EditSlide</button>
                                            }
                                        </div>*@
                                    @*<div class="text">Caption Text</div>*@
                                </div>

                                //Modal
                                @*<div class="modal fade" id="EditkModal" role="dialog">
                                        <div class="modal-dialog">
                                            @using (@Html.BeginForm("Edit", "Slide", null, FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()

                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                        <h4 class="modal-title">Edit Slide</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <label asp-for="Number" class="control-label"></label>
                                                            <input asp-for="@item.Number" class="form-control" required />
                                                            <span asp-validation-for="@item.Number" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="@item.Content" class="control-label"></label>
                                                            <input asp-for="@item.Content" class="form-control" />
                                                            <span asp-validation-for="@item.Content" class="text-danger"></span>
                                                        </div>

                                                    </div>
                                                    <div class="modal-footer">

                                                        <button class="btn-action btn-modal" type="submit" name="button">Add</button>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div>*@
                                //koniecmodala

                            }

                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <div style="text-align:center">

                            @foreach (var item in Model.SlideSet)
                            {
                                <span class="dot" onclick="currentSlide(@item.Id)"></span>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title tut-header">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Scrum Theory Docs
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">

                        @*@if (User.IsInRole("Scrum Master"))
                            {
                                @*<button type="button" class="btn-action" data-toggle="modal" data-target="#AddMaterialModal">Add Material</button>
                                <a asp-controller="TeachingMaterial" asp-action="Create">Create</a>



                            }*@



                        <div class="row techmat-container">
                            <div class="col-md-6">
                                @foreach (var item in Model.TechMatSet)
                                {
                                <div class="link-container">
                                    <a href="@item.Link">
                                        @item.Link
                                    </a>
                                </div>
                                
                                }
                            </div>
                            <div class="col-md-6">
                                @foreach (var item in Model.TechMatSet)
                                {
                                <div class="note-container">
                                    <p>@item.Note</p>
                                </div>
                                
                                }
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>
</section>