@model Scrumy.Models.SprintVM.SprintStatsVM

<section class="container sprintStats">
    <h2>Sprints Statistics</h2>
    <div class="row">
        <div class="col-md-12">
            <div class="sprint-tabs">
                <button onclick="openTab('ToDo')" class="btn-action">ToDo</button>
                <button onclick="openTab('Done')" class="btn-action">Done</button>
            </div>
        </div>
        <div id="ToDo" class="data" style="display:none">
            <h3>Current Sprint</h3>
            @foreach (var item in Model.Sprints)
            {
                if (item.isDone == false)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">Panel Heading</div>
                        <div class="panel-body">
                            <p>@item.Id</p>
                            <p>@item.SprintTarget</p>
                            <div>
                                @foreach (var task in Model.Tasks)
                                {
                                    if (task.SprintId == item.Id)
                                    {
                                        <p>@task.Title</p>
                                        <p>@task.Desc</p>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div id="Done" class="data" style="display:none">
            <h3>Finished Sprints</h3>
            @foreach (var item in Model.Sprints)
            {
                if (item.isDone == true)
                {

                    <div class="panel panel-default">
                        <div class="panel-heading">Panel Heading</div>
                        <div class="panel-body">
                            <p>@item.Id</p>
                            <p>@item.SprintTarget</p>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
</section>

<script>
    function openTab(state) {
        var i;
        var x = document.getElementsByClassName("data");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        document.getElementById(state).style.display = "block";
    }
</script>