@model IEnumerable<Scrumy.Models.SprintTask>

@{
    ViewData["Title"] = "TaskStats";
}

<h2>TaskStats</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SprintId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isInBacklog)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.willBeInNextSprint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isInCurrentSprint)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isDone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.whoIsWorkingOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoryPointsValue)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SprintId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isInBacklog)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.willBeInNextSprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isInCurrentSprint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.whoIsWorkingOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoryPointsValue)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
