@model Scrumy.Models.SprintVM.SprintPlanVM
@{
    ViewData["Title"] = "Create";
}

<div class="sprintPlanning container">
    <h2>Sprint Planning</h2>
    <h3>Discuss tasks below with Team</h3>
    <div class="row">
        <div class="col-md-6">
            <h3>To discuss</h3>
            @foreach (var item in Model.TaskToDiscuss)
            {
                if (item.willBeInNextSprint == true)
                {
                    <div class="element willBeInNextSprint-element">
                        <p>@item.Title</p>
                        <button type="button" class="btn-action" data-toggle="modal" data-target="#@item.Id">Details</button>
                        <div class="move-buttons">
                            <a asp-area="" asp-controller="Sprint" asp-action="SetAsToDoInCurrentSprint" asp-route-id="@item.Id" class="move-right" title="Set as ToDo in next Sprint">
                                <i class="fas fa-arrow-circle-right"></i>
                            </a>
                        </div>

                        <div class="modal fade" id="@item.Id" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Task Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Title: @Html.DisplayFor(modelItem => item.Title)
                                        </p>
                                        @if (item.Desc != null)
                                        {
                                            <p>
                                                Description: @Html.DisplayFor(modelItem => item.Desc)
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                This task has no description.
                                            </p>
                                        }


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                }
                @*<a asp-area="" asp-controller="Sprint" asp-action="SetAsToDoInCurrentSprint" asp-route-id="@item.Id" class="move-right" title="Set as ToDo in next Sprint">
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>*@
            }
        </div>
        <div class="col-md-6">
            <h3>Will be in Sprint</h3>
            @foreach (var item in Model.TaskToDiscuss)
            {
                if (item.isInCurrentSprint == true)
                {
                    <div class="element inCurrentSprint-element">
                        <p>@item.Title</p>
                        <button type="button" class="btn-action" data-toggle="modal" data-target="#@item.Id">Details</button>
                        <div class="move-buttons">
                            <a asp-area="" asp-controller="Sprint" asp-action="WillNotBeInSprint" asp-route-id="@item.Id" class="move-left" title="Set as ToDo in next Sprint">
                                <i class="fas fa-arrow-circle-left"></i>
                            </a>
                        </div>

                        <div class="modal fade" id="@item.Id" role="dialog">
                            <div class="modal-dialog">

                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Task Details</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Title: @Html.DisplayFor(modelItem => item.Title)
                                        </p>
                                        @if (item.Desc != null)
                                        {
                                            <p>
                                                Description: @Html.DisplayFor(modelItem => item.Desc)
                                            </p>
                                        }
                                        else
                                        {
                                            <p>
                                                This task has no description.
                                            </p>
                                        }


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        @using (@Html.BeginForm("GenerateSprint", "Sprint", null, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <form asp-action="GenerateSprint">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="SprintToCreate.Deadline" class="control-label"></label>
                    <input asp-for="SprintToCreate.Deadline" class="form-control" />
                    <span asp-validation-for="SprintToCreate.Deadline" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SprintToCreate.SprintTarget" class="control-label"></label>
                    <input asp-for="SprintToCreate.SprintTarget" class="form-control" />
                    <span asp-validation-for="SprintToCreate.SprintTarget" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Generate Sprint" class="btn btn-default" />
                </div>
            </form>

                }
        </div>
</div>
