@model IEnumerable<Scrumy.Models.SprintTask>

@{
    ViewData["Title"] = "AgileWall";
}



<section class="agilewall container-full">
    <h2>AgileWall</h2>
    <div class="container">
        <div class="row">
            <div class="col-md-4 wall-col">
                <h4>Backlog</h4>
                @foreach (var item in Model)
                {
                    <div class="toDo-element element">
                        <p>
                           Title: @Html.DisplayFor(modelItem => item.Title)
                        </p>
                        <p>
                           Description: @Html.DisplayFor(modelItem => item.Desc)
                        </p>
                    </div>
                }
            </div>
            <div class="col-md-4 wall-col">
                <h4>ToDo in Current Sprint</h4>

            </div>
            <div class="col-md-4 wall-col">
                <h4>Done</h4>
                @foreach (var item in Model)
                {
                    //TODO Watch OUT
                    @if (item.isDone == false)
                    {
                <div class="done-element element">
                    <p>
                        Title: @Html.DisplayFor(modelItem => item.Title)
                    </p>

                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#@item.Id">Details</button>
                  
                    <!-- Modal -->
                    <div class="modal fade" id="@item.Id" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Modal Header</h4>
                                </div>
                                <div class="modal-body">

                                    @if (item.Desc != null)
                                    {
                                        <p>
                                            @Html.DisplayFor(modelItem => item.Desc)
                                        </p>
                                    }
                                    else
                                    {
                                        <p>
                                            This task has no description.
                                        </p>
                                    }


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                    }

                }
            </div>
        </div>
    </div>
</section>